.addresource-container {
  padding: 2rem;
  margin: 6rem 0 1rem;
}

.addresource-container .form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.addresource-container .form .section {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.addresource-container .form .section.two {
  height: 400px;
  margin-right: 4rem;
}

.addresource-container .form .section .column {
  display: flex;
  /* justify-content: space-between; */
  gap: 2rem;
  align-items: center;
}

.addresource-container .form .section .column h4 {
  width: 30px;
}

.form .section .column .input-group {
  height: 2rem;
  width: 200px;
  position: relative;
}
.form .section .column .input-group-radio {
  height: 2rem;
  width: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.form .section .column .input-group input,
.form .section .column .input-group select {
  height: 100%;
  width: 100%;
  padding: 0 1rem;
  font-size: 0.8rem;
  outline: none;
}

.form .section .column .input-group .placeholder {
  position: absolute;
  top: 0.4rem;
  left: 1rem;
  font-size: 0.8rem;
  pointer-events: none;
  transition: 0.2s linear;
  padding: 0 5px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.form .section .column .input-group-radio .placeholder {
  letter-spacing: 0.8px;
  font-size: 0.9rem;
}

.form .section .input-group input:focus ~ .placeholder,
.form .section .input-group input:valid ~ .placeholder {
  top: -10px;
  font-size: 0.7rem;
  background-color: var(--white);
}

.input-group select:focus ~ .placeholder,
.input-group select:valid ~ .placeholder {
  transform: translateY(-1rem);
  font-size: 0.7rem !important;
  background-color: var(--white);
}

.input-group select option {
  text-transform: capitalize;
}

input[type="date"]::-webkit-datetime-edit {
  opacity: 0;
}

.form button {
  position: absolute;
  bottom: -2rem;
  right: 10rem;
  text-transform: uppercase;
  font-size: 0.8rem;
  background-color: var(--dark-blue);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  color: var(--white);
}
