.content-container {
  grid-area: content;
  margin-top: 6rem;
}

.about-container {
}

.about-container .items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about-container .items .item {
  height: 11rem;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  border-radius: 10px;
}

.about-container .items .item figure img{
	height: 3.5rem;
}

.about-container .items .item h4 {
  font-size: 0.9rem;
  font-weight: 600;
}
.about-container .items .item span {
  font-size: 1.5rem;
  font-weight: 600;
}

/* ------- *\  

chart

\* ------- */

.content-container .chart{
display: flex;
flex-direction: column;
align-items: center;
margin: 3rem;
}

.content-container .chart .title{
align-self: flex-start;
margin-left: 2rem;
color: var(--text);
text-transform: capitalize;
}

.content-container .chart .title h2{
	font-weight: 600;
}
.content-container .chart .title span{
	font-size: .9rem;
}