/* ---------- *\
 font imported
\* ---------- */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* ---------- *\
 Reset style
\* ---------- */

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a,input,button,span{
  display: block;
}

/* ---------- *\
 common style
\* ---------- */

html {
  font-size: 16px;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* ---------- *\
 :root style
\* ---------- */

:root {
  /* color */

  --dark-blue:rgb(217, 70, 239);
  --sky-blue: rgb(73, 190, 255);
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --text: rgb(42, 53, 71);
  --hover: rgb(245, 208, 254);
  --light-gray: rgb(204, 203, 203);
}

main{
  /* display: grid;
  grid-template-areas: 
  "nav nav nav"
  "aside content content"
  ; */
  /* grid-template-columns:13rem 1fr 1fr ;
  grid-template-rows: 4rem 1fr; */
}
 
